<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100 bg-washed-blue">

    <%- include('../partials/header'); %>

    <!-- open main content -->
    <main class="w-80 black-70 center">

      <section class="vh-100 bg-washed-blue">
        <header class="tc ph5 lh-copy">
          <h1 class="f1 f-headline-l mb3 fw9 dib">404</h1>
          <h2 class="tc f1-l fw1">Sorry, we can't find the page you are looking for.</h2>
        </header>
      </section>

    </main>
    <!-- close main content -->

    <%- include('../partials/footer'); %>

  </body>
</html>

